{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}


{%- include favicons.html -%}
<!-- <link href="https://cdn.bootcdn.net/ajax/libs/Primer/19.7.0/primer.min.css" rel="stylesheet"> -->
<link crossorigin="anonymous" integrity="sha512-Y5VuG1y/zfLcV9MEEThnZ9tnwVpnxRp3BEDxYrnu58jcpTnYu+E1sVomOQW+72NUgNX54aM3kEmpbVHHUcw6YQ==" href="https://lib.baomitu.com/Primer/latest/primer.min.css" rel="stylesheet">
<!-- <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"> -->
<link crossorigin="anonymous" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" href="https://lib.baomitu.com/font-awesome/latest/css/all.min.css" rel="stylesheet">

{%- if site.annotations -%}
<!-- <script src="https://cdn.bootcdn.net/ajax/libs/embed-js/5.0.4/embed.min.js" async></script> -->
<script crossorigin="anonymous" integrity="sha384-u0JhhrIe5u04OuXd3qntGEbDGqplR02lWhySya01T61lugHUX2/iwGH2uJKk3AzV" src="https://lib.baomitu.com/embed-js/latest/embed.min.js" async></script>
<link crossorigin="anonymous" integrity="sha384-3lk6++Mu/qs3+9ULIR81mic08T2qGcllbisw15QeNtcv7VyW0lzZeFG3k/3b++Et" href="https://lib.baomitu.com/embed-js/latest/embed.min.css" rel="stylesheet">
{%- endif -%}

{% if site.use_math %}
<script crossorigin="anonymous" integrity="sha512-aMDiFsrEV3KzAn9EHwyBRS7y1APjZWt/Z/73ukLN2Ca2KcGGzlOQFQSnfOdnEcehpwMaQ8edlDB/0cMX2GsHbg==" src="https://lib.baomitu.com/KaTeX/latest/katex.min.js"></script>
    <link crossorigin="anonymous" integrity="sha512-07YhC3P4/vS5HdgGuNAAeIxb5ee//efgRNo5AGdMtqFBUPYOdQG/sDK0Nl5qNq94kdEk/Pvu8pmN4GYUeucUkw==" href="https://lib.baomitu.com/KaTeX/latest/katex.min.css" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha512-ZA/RPrAo88DlwRnnoNVqKINnQNcWERzRK03PDaA4GIJiVZvGFIWQbdWCsUebMZfkWohnfngsDjXzU6PokO4jGw==" src="https://lib.baomitu.com/KaTeX/latest/contrib/auto-render.min.js"></script>
    <!-- <link href="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.15.3/katex.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.15.3/katex.min.js"></script> -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.15.3/contrib/auto-render.min.js"></script> -->
    <script crossorigin="anonymous" integrity="sha512-XwnBT4t1/cl+Qz3T187hcrLT+TQ/HJ58wGk3Tj+uZuundcWdri5cfQV/NIPbM6gtfyVznybMBU1R2IPShJfEdA==" src="https://lib.baomitu.com/mathjax/2.7.9/MathJax.min.js"></script>
    <script crossorigin="anonymous" integrity="sha512-F0LxAKEvquwLHps/FztAivZus45RPg4O2JRfQ9dOLnjzsyqD1q4qKN+sT1C8yr8nJPuzWWe+xKvjPGL2svPmjg==" src="https://lib.baomitu.com/mathjax/2.7.9/extensions/MathMenu.min.js"></script>
    <script crossorigin="anonymous" integrity="sha512-NemmPO3rOhiYIhhDQj1WBRv9gmdD3awdxxIFDitxFJu0KYx6DxD8jfZwVf6YcR8lKUr1cIr2EVM8JNizYEOpXA==" src="https://lib.baomitu.com/mathjax/2.7.9/extensions/MathZoom.min.js"></script>
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/mathjax/2.7.9/MathJax.min.js"></script> -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/mathjax/2.7.9/extensions/MathMenu.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/mathjax/2.7.9/extensions/MathZoom.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/mathjax@2.7.9/MathJax.js"></script> -->
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement( document.body, {
        delimiters: [
            {left: "$$", right: "$$", display: true},
            {left: "[%", right: "%]", display: true},
            {left: "$", right: "$", display: false}
        ]}
        );
    });
    </script>
{% endif %}

<script>
function wrap_img(fn) {
    if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading") {
        var elements = document.querySelectorAll(".post img");
        Array.prototype.forEach.call(elements, function(el, i) {
            if (el.getAttribute("title") && (el.className != "emoji")) {
                const caption = document.createElement('figcaption');
                var node = document.createTextNode(el.getAttribute("title"));
                caption.appendChild(node);
                const wrapper = document.createElement('figure');
                wrapper.className = 'image';
                el.parentNode.insertBefore(wrapper, el);
                el.parentNode.removeChild(el);
                wrapper.appendChild(el);
                wrapper.appendChild(caption);
            }
        });
    } else { document.addEventListener('DOMContentLoaded', fn); }
}
window.onload = wrap_img;
</script>

<script>
    document.addEventListener("DOMContentLoaded", function(){
    // add link icon to anchor tags
    var elem = document.querySelectorAll(".anchor-link")
    elem.forEach(e => (e.innerHTML = '<i class="fas fa-link fa-xs"></i>'));
    });
</script>
